section {
    background-color: var(--gray-100);
    padding: 88px 120px 120px;
    text-align: center;
    
}

section #header {
    padding-bottom: 56px;
}

section #header h2 {
    font: var(--subtitle);
    color: var(--red);
    padding-bottom: 8px;
}

section #header h3 {
    font: var(--title-md);
    color: var(--gray-600);
}

section #grid {
    
    display: grid;
    grid-template-columns: repeat(3, 280px);
    gap: 24px;
    padding: 20px;
    border-radius: 12px;

    justify-content: center;
}

section #grid img {
    width: 48px;
    height: 48px;
}

section #grid .card {
    border-radius: 12px;
    width: 280px;
    padding: 12px 18px;
    text-align: start;
    border: 2px solid var(--gray-200);
}


section #grid figcaption {
    padding: 20px 4px 0;
}

section #grid figcaption h4{
    font: var(--title-sm);
    color: var(--gray-600);
}

section #grid figcaption p{
    font: var(--text-sm);
    color: var(--gray-500);
    padding-top: 8px;
}


